body {
    margin: 0;
    padding: 0;
    background: #050b14;
    color: white;
    font-family: Arial, sans-serif;
}


header {
    text-align: center;
    padding: 40px;
    border-bottom: 1px solid #1f2937;
}


header h1 {
    font-size: 42px;
    color: #00ff99;
    margin-bottom: 10px;
}


header p {
    font-size: 18px;
    color: #cbd5e1;
}


.dashboard {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}


.dashboard h2 {
    color: #38bdf8;
    text-align: center;
}


#resultado {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 25px;
}


.card {

    background: #111827;
    border: 1px solid #334155;
    border-radius: 15px;
    padding: 25px;

    box-shadow:
    0 0 20px rgba(0,255,153,0.15);

}


.card h3 {

    color:#00ff99;
    font-size:26px;

}


.score {

    font-size:30px;
    font-weight:bold;
    color:#38bdf8;

}


.progress {

    background:#1e293b;
    height:10px;
    border-radius:10px;
    overflow:hidden;
    margin-top:8px;

}


.progress div {

    height:100%;
    background:#00ff99;

}


.label {

    margin-top:15px;
    color:#cbd5e1;

}
