*{
    box-sizing:border-box;
}


body{

    margin:0;
    padding:0;

    background:#050816;
    color:white;

    font-family:Arial, sans-serif;

}



.hero{

    text-align:center;

    padding:50px;

    border-bottom:1px solid #00ff99;

}


.hero h1{

    color:#00ff99;

    font-size:45px;

}


.hero p{

    font-size:18px;

}



.panel{

    padding:40px;

}



.panel h2{

    color:#00ff99;

}



.card{

    background:#101827;

    border:1px solid #00ff99;

    border-radius:15px;

    padding:25px;

    margin-bottom:20px;

}



.card h3{

    color:#00ff99;

}



.score{

    font-size:22px;

    font-weight:bold;

}



.badge{

    color:#00ff99;

    font-weight:bold;

}
